.signup{
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
}

.signup .signup-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Aligns items to the start */
    gap: 15px; /* Adds space between the form elements */
    border-radius: 7px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adds a soft shadow */
    width: 500px;
    margin-top: 150px;
    padding: 30px;
    background-color: #fff; /* Adds a white background for better visibility */
}

.signup label {
    position: relative; /* Makes label positioning relative to its container */
}

.signup-form input {
    width: 100%;
    padding: 8px;
    margin-top: 5px; /* Adds space between label and input */
    border-radius: 5px;
    border: 1px solid #ccc;
}
.signup button{
    width: 100%;
    padding: 8px;
    margin-top: 10px;
    border-radius: 5px;
    background-color: tomato;
    color: white;
    cursor: pointer;
}